@model IEnumerable<ApiWeb.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/styles.css" />
<script type="text/javascript" src="js/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="js/jquery.maskedinput-1.1.4.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".cpf").mask("999.999.999-99");
    });
</script>

<p>
    <a asp-action="Create">Novo usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Cpf)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = usuario.UsuarioId },
                    new { @style = "color: #FFF" })
                </td>
                <td>
                    @Html.ActionLink("Excluir", "Details", new { id = usuario.UsuarioId },
                    new { @style = "color: #FFF" })
                </td>
            </tr>
        }
    </tbody>
</table>
